body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    align-items: center;
    justify-content: center;
}

:root {
    --body-color: #434455;
    --border: 1px solid #e7e9fc;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
}

.menu-item {
    color: #434455;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    font-weight: 400в;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.head-div {
    display: flex;
    justify-content: space-between;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.ul-adress {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav {
    display: flex;
    align-items: center;
}

.custom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.h-custom {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.list-custom {
    display: flex;
    gap: 24px;
}

.li-custom {
    height: 88px;
    width: calc((100% - 120px) / 6);
}

.div-custom {
    margin-bottom: 72px;
}

.icon {
    fill: currentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-custom {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    margin-bottom: 72px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #404bbf;
    margin-right: 76px;
    position: relative;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.icon-footer {
    fill: #f4f4fd;
}

.p-foot-index {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ul-foot {
    display: flex;
    gap: 16px;
}

.li-foot {
    width: 40px;
    height: 40px;
}

.a-foot {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
}

.list-team {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: transparent;
    display: flex;
    gap: 24px;
}

.list-img {
    gap: 24px;
    display: flex;
}

.list-products {
    padding: 0;
    gap: 24px;
}

.li-img {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.li-prod {
    width: calc((100% - 72px) / 4);
}

.li-gap {
    gap: 24px;
}

.li-foot {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.prod-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.img-section {
    padding: 120px 0 120px;
}

.img {
    padding-bottom: 120px;
}

.img-p {
    padding-top: 96px;
    padding-bottom: 120px;
}

.listp {
    font-weight: 400;
    letter-spacing: 0.32px;
}

.listp-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.list-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 8px;
}

.link {
    text-decoration: none;
}

.adress {
    font-style: normal;
}

.studio {
    color: #2E2F42;
}

.headstudio {
    color: #2e2f42;
}

.about {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.main-img {
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.orderservice {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    max-width: 100%;
    padding: 188px 0;
}

.tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    font-weight: 700;

}

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.li-team {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.team-img {
    background-color: #FFFFFF;
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-team {
    padding: 32px 0;

}

.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team {
    fill: #f4f4fd;
}

.titlle-img {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;

}

.p-foot {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.studio {
    color: #f4f4fd
}

.port-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.container-port {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.container-products {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style {
    background: #404BBF;
    background-color: #4D5AE5
}

.button-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: var(--border);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-port {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.p-port {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.head-a {
    color: #2E2F42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;

}

.head-a--active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 4px;
    bottom: -4px;
}

.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}

.menu-item:hover {
    color: #404bbf;
}

.menu-item:focus {
    color: #404bbf;
}

.port-a {
    color: #2e2f42;
}

.a-portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-portfolio {
    position: relative;
    overflow: hidden;
}

.p-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-portfolio:hover {
    transform: translateY(0%);
}

.a-portfolio:focus {
    transform: translateY(0%);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.button-port:hover {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-port:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
}

.a-custom:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.a-custom:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.a-foot:hover {
    background-color: #31d0aa;
    transform: translateY(0%);
}

.a-foot:focus {
    background-color: #31d0aa;
    transform: translateY(0%);
}

.a-team:hover {
    background-color: #404bbf;
}

.a-team:focus {
    background-color: #404bbf;
}

.a-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%)
}

.a-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%)
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.mod {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 408px;
    max-height: 584px;
    padding: 72px 24px 24px 24px;
    box-sizing: inherit;
}

.mod-butt {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-butt:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mod-butt:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.mod-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.p-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form {
    display: flex;
    gap: 24px;
}

.label-form {
    gap: 24px;
}

.mod-form-div {
    margin-bottom: 8px;
}

.mod-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mod-label-div {
    position: relative;
}

.mod-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-input:focus {
    border-color: #4D5AE5;
}

.mod-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: black;
}

.mod-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-textarea:focus {
    border-color: #4D5AE5;
}

.mod-five {
    margin-bottom: 24px;
}

.visually-hidden {
    visibility: hidden;
}

.mod-five-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.mod-five-a {
    color: #4d5ae5;
}

.mod-six-butt {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 90px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-form {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.button-form {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon-form {
    margin-left: 16px;
}

.mod-div-comment {
    margin-bottom: 16px;
}

.input-check:checked+.mod-five-label span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}



.burger-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: black;
    display: none;
}


.burger {
    color: black;
    margin-left: 50px;

}



.burger-svg {
    color: black;
    margin-left: 50px;
    width: 32px;
    height: 32px;
}

.burger-window {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateX(-100%);
}



.burger-window__inner {
    height: 100vh;
    width: 100vw;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-window__link {
    text-decoration: none;
    color: #2E2F42;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.burger-window__contacts-phone {
    text-decoration: none;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #4D5AE5;
}

.burger-window__contacts-mail {
    text-decoration: none;
    font-size: 20px;
    color: #434455;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.burger-window a:hover {
    color: #404BBF;
}


.burger-window__btn {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #2E2F42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-window__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.burger-window__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.burger-window__contacts-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.burger-window__soc-list {
    display: flex;
    gap: 40px;
}

.burger-window__soc-item {
    width: 40px;
    height: 40px;
}

.burger-window.burger-window--active {
    display: block;
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 800px;
        padding: 0 16px;
    }

    .team {
        max-width: 768px;
        display: block;
    }

    .img {
        display: none;
    }

    .container-products {
        display: none;
    }

    .list-team {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 0 92px;
        flex-wrap: wrap;
    }



    .ul-adress {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu-item {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }

    .head-div {
        padding: 16px 16px;
    }

    .main-img {
        padding: 112px 104px;
    }

    .list-tittle {
        font-size: 36px;
        font-weight: 700;
    }

    .listp {
        font-weight: 500;
        width: 356px;
        letter-spacing: 0.32px;
    }

    .list-products {
        display: flex;
        flex-wrap: wrap;
    }

    .li-prod {
        width: 356px;
    }

    .li-team {
        margin-bottom: 64px;
    }

    .img-section {
        padding: 96px 0 120px;
    }

    .list-custom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .li-custom {
        width: 168px;
        margin-bottom: 72px;
    }

    .custom {
        padding: 96px 0;
    }

    .div-custom {
        margin: 0;
    }

    .footer__inner {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: start;
        padding: 96px 92px;
    }

    .container-footer {
        margin-bottom: 72px;
    }

    .soc-div {
        margin-bottom: 72px;
    }

    .adress__list {
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (max-width: 428px) {

    .burger-btn {
        display: block;
    }

    body {
        max-width: 428px;
        width: 100%;
    }

    .logo {
        padding-top: 24px;
        padding-bottom: 22px;
    }

    .container {
        max-width: 428px;
        width: 100%;
        padding: 0 15px 0 15px;
    }

    /* header */
    ul[hidden] {
        display: none;
    }

    /* main */
    .main {
        max-width: 428px;
        width: 100%;
    }

    .main-img {
        width: 428px;
        height: 432px;
        width: 100%;
        padding: 0;
    }

    .orderservice {
        display: flex;
        flex-direction: column;
        gap: 58px;
        width: 428px;
        height: 432px;
        width: 100%;
    }

    .button {
        transition: background-color var(--tran-250);
        max-width: 428px;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        margin-top: 72px;
    }

    .tittle {
        margin: 0 auto;
        max-width: 320px;
        height: 80px;
        font-size: 36px;
        line-height: 1.11;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-align: center;
        box-sizing: border-box;
        padding-top: 112px;
    }

    /* products */

    .img-section {
        max-width: 428px;
        padding-top: 96px;
        padding-bottom: 96px;
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    .container-prod {
        margin: 0 auto;
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: flex-start;
        gap: 8px;
    }

    .list-products {
        display: flex;
        flex-direction: column;
        gap: 72px 24px;
    }

    .li-prod {
        box-sizing: border-box;
        display: list-item;
        text-align: -webkit-match-parent;
        width: 100%;

    }

    .list-tittle {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .listp {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        box-sizing: border-box;
        margin: 0;
        display: block;
        max-width: 396px;
        width: 100%;
    }

    .container-products {
        display: none;
    }

    /* img */
    .img {
        display: none;
    }

    /* team */

    .list-team {
        align-content: center;
        display: flex;
        flex-direction: column;
        gap: 72px 24px;
        margin: auto;
        padding: 0;
    }

    .li-team {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    /* Customers */

    .custom {
        padding-top: 96px;
        padding-bottom: 96px;
        box-sizing: border-box;
        display: block;
    }



    .div-custom {
        margin: 0 auto;
        max-width: 396px;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    .list-custom {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .li-custom {
        flex-basis: calc((100% - 16px) / 2);
        height: 88px;
        margin: 0;
    }

    /* footer */
    .footer {
        box-sizing: border-box;
        display: block;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 396px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .logo-footer {
        box-sizing: border-box;
        display: block;
    }

    .p-foot {
        display: flex;
        width: 268px;
        flex-direction: column;
        flex-shrink: 0;
        text-align: left;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        height: min-content;
    }

    .modal {
        width: 100%;
    }

    .is-hidden {
        width: 428px;
    }

    .container-footer,
    .soc-div {
        margin: 0;
    }

    .mod-six-butt {
        margin: 0 auto;
    }

    .mod {
        max-height: 620px;
    }
}


@media (min-resolution: 144dpi) and (min-device-pixel-ratio: 2) {
    .team-img--1 {
        background-image: url('../images/imagesteam1@2x.jpg');
    }

    .team-img--2 {
        background-image: url('../images/imagesteam2@2x.jpg');
    }

    .team-img--3 {
        background-image: url('../images/imagesteam3@2x.jpg');
    }

    .team-img--4 {
        background-image: url('../images/imagesteam4@2x.jpg');
    }

    .li-img--1 {
        background-image: url('../images/images1@2x.jpg');
    }

    .li-img--2 {
        background-image: url('../images/images2@2x.jpg');
    }

    .li-img--3 {
        background-image: url('../images/images3@2x.jpg');
    }

}