<section class="callback">
  <div class="callback-container container">
    <div class="callback-text-title">
      <h2 class="callback-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
      <p class="callback-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="callback-recall">
      <form class="callback-form">
        <label class="callback-label" aria-label="callback tel">
          <input
            type="tel"
            name="callback-tel"
            placeholder="+380 ()"
            class="callback-input"
          />
        </label>
        <button type="submit" class="callback-btn">Recall</button>
      </form>
    </div>
    <div class="callback-img">
      <img
        srcset="../img/png/img girl.png 1x, ../img/"
        class="img-girl-call"
        alt="ragazza"
        width="335"
        height="357"
      />
    </div>
  </div>
</section>
