<header class="header">
  <div class="header-cont">
    <nav class="nav-header">
      <ul class="list-menu">
        <li class="list-header">
          <a href="./header.html" class="list-link">How it works</a>
        </li>
        <li class="list-header">
          <a href="./vegetables.html" class="list-link">Vegetables</a>
        </li>
        <li class="list-header"><a href="" class="list-link">Contacts</a></li>
      </ul>
      <ul class="list-menu">
        <li class="list-top">
          <a href="./index.html" class="header-logo">veggieboost</a>
        </li>
        <li class="list-top">
            <svg class="basket-button-but" width="24" height="24">
              <use href="//src/img/svg/basket.svg"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
