<section class="hero">
  <div class="container-text-hero">
    <ul class="list-user">
      <li class="item-user">
        <picture>
          <source
            srcset="../img/png@2x/Ellipse2@2x.png 2x,
        .//img/png/Ellipse 2.png 1x"
          />
          <img src="../img/png/Ellipse 2.png" alt="asian woman" />
        </picture>
      </li>

      <li class="item-user">
        <picture>
          <source
            srcset="../img/png/Ellipse 3.png 1x,
        ../img/png@2x/Ellipse3@2x.png 2x"
          />
          <img src="../img/png/Ellipse 3.png" alt="asian man" />
        </picture>
      </li>

      <li class="item-user">
        <picture>
          <source
            srcset="../img/png/Ellipse 4.png 1x,
        ../img/png@2x/Ellipse4@2x.png 2x"
          />
          <img src="../img/png/Ellipse 4.png" alt="asian woman" />
        </picture>
      </li>

      <li class="item-2krew">2k reviews</li>
    </ul>

    <h1 class="title-hero">organic vegetables to your diet today!</h1>
    <p class="text-hero">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
  </div>
  <div class="container-photo-btn">
    <button class="btn-shop-now" type="button">shopnow</button>

    <picture>
      <source
        srcset="../img/png/img girl hero.png 1x,
      ../img/png@2x/girl@2x.png 2x"
      />
      <img src="../img/png/img girl hero.png" alt="girl with salat" />
    </picture>

    <ul class="list-character">
      <li class="item-character">
        <p>#organic</p>
      </li>
      <li class="item-character">
        <p>#products</p>
      </li>
      <li class="item-character">
        <p>#basket</p>
      </li>
      <li class="item-character">
        <p>#vegetables</p>
      </li>
    </ul>
  </div>
</section>
