<link rel="stylesheet" href="../css/modal.css" />

<section>
  <!-- Додаємо .is-hidden для JS -->
  <div class="mob-menu" data-menu>
    <div class="mobil">
      <ul class="mob-menu-list list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="./index.html">How It Works</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Vegetables</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">Contacts</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="">
            <svg class="mob-menu-basket" width="20" height="20">
              <use href="../img/svg/symbol-defs.svg#icon-shopping-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
