<link rel="stylesheet" href="../css/modal.css" />
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-button" data-modal-close>
      <svg
        class="close-button"
        aria-label="close-button"
        width="32"
        height="32"
      >
        <use href="../img/svg/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="order-form-modalname">YOUR ORDER</h2>
    <ul class="list modal-order-container">
      <li class="modal-plant-container container">
        <div class="contact-form-checkbox-wrapper">
          <input
            class="contact-form-checkbox visually-hidden"
            type="checkbox"
            id="user-privacy"
            name="user-privacy"
            value="true"
            required
          />
          <span class="own-checkbox">
            <svg
              class="contact-form-own-checkbox"
              aria-label="icon-mark"
              width="20"
              height="20"
            >
              <use
                class="contact-form-checkmark"
                href="../img/svg/symbol-defs.svg#icon-checkmark"
              ></use>
            </svg>
          </span>
        </div>
        <h3 class="modal-title-plant">Cabbage Bascet</h3>
        <p class="modal-p-title">Plant</p>
        <div class="modal-img-container">
          <img src="../img/png/cabbage-modal.png" alt="cabbage" width="240" />
        </div>
      </li>
      <li class="modal-plant-container container">
        <div class="contact-form-checkbox-wrapper">
          <input
            class="contact-form-checkbox visually-hidden"
            type="checkbox"
            id="user-privacy"
            name="user-privacy"
            value="true"
            required
          />
        </div>
        <h3 class="modal-title-plant">Tomato Bascet</h3>
        <p class="modal-p-title">Plant</p>
        <div class="modal-img-container">
          <img src="../img/png/tomato-modal.png" alt="cabbage" width="240" />
        </div>
      </li>
      <li class="modal-plant-container container">
        <div class="contact-form-checkbox-wrapper">
          <input
            class="contact-form-checkbox visually-hidden"
            type="checkbox"
            id="user-privacy"
            name="user-privacy"
            value="true"
            required
          />
        </div>
        <h3 class="modal-title-plant">Vegetables Bascet</h3>
        <p class="modal-p-title">Plant</p>
        <div class="modal-img-container">
          <img
            src="../img/png/vegetables-modal.png"
            alt="cabbage"
            width="240"
          />
        </div>
      </li>
    </ul>
    <form class="modal-contact-form container">
      <div class="contact-form-input-wrapper">
        <input
          class="contact-form-input"
          type="text"
          name="user-name"
          id="user-name"
          required
          pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
          placeholder="Enter full name..."
        />
        <input
          class="contact-form-input"
          type="text"
          name="user-email"
          id="user-email"
          required
          placeholder="Enter email..."
        />
        <input
          class="contact-form-input"
          type="text"
          name="user-card"
          id="user-card"
          required
          pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}+"
          title="xxx-xxx-xxxx-xxxx"
          placeholder="Enter card..."
        />
        <textarea
          class="contact-form-message"
          id="user-comment"
          name="user-comment"
          placeholder="Enter comments..."
        ></textarea>
        <button type="submit" class="submit-btn">Submit</button>
      </div>
      <div class="img-girl-in-orange">
        <img
          src="../img/png/girl-modal.png"
          alt="girl_in_orange"
          width="444"
          height="413"
        />
      </div>
    </form>
  </div>
</div>
