<link rel="stylesheet" href="../css/modal.css" />
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-button" data-modal-close>
      <svg
        class="close-button"
        aria-label="close-button"
        width="32"
        height="32"
      >
        <use href="../img/svg/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="order-form-modalname">YOUR ORDER</h2>
    <ul class="list modal-order-container">
      <li class="modal-plant-container container">
        <h3>Cabbage Bascet</h3>
        <p>Plant</p>
        <div class="modal-img-container">
          <img src="../img/png/cabbage-modal.png" alt="cabbage" width="243" />
        </div>
      </li>
      <li class="modal-plant-container container">
        <h3>Tomato Bascet</h3>
        <p>Plant</p>
        <div class="modal-img-container">
          <img src="../img/png/tomato-modal.png" alt="cabbage" width="243" />
        </div>
      </li>
      <li class="modal-plant-container container">
        <h3>Vegetables Bascet</h3>
        <p>Plant</p>
        <div class="modal-img-container">
          <img
            src="../img/png/vegetables-modal.png"
            alt="cabbage"
            width="243"
          />
        </div>
      </li>
    </ul>
    <div class="modal-contact-container">
      <form class="contact-form">
        <div class="contact-form-wrapper">
          <div class="contact-form-input-wrapper">
            <input
              class="contact-form-input"
              type="text"
              name="user-name"
              id="user-name"
              required
              pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
              placeholder="Enter full name"
            />
          </div>
          <button type="submit" class="subscribe-btn">
            Subscribe
            <svg
              class="icon-send"
              aria-label="icon-send"
              width="24"
              height="24"
            ></svg>
          </button>
        </div>
      </form>
      <div class="img-girl-in-orange">
        <img src="../img/png/girl-modal.png" alt="girl_in_orange" width="444" />
      </div>
    </div>
  </div>
</div>
