.callback {
    background-color: var(--alt-text-color);
    padding-top: 80px;
    padding-bottom: 80px;
}

.callback-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.callback-title {
    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.96px;
    /*text-transform: uppercase;*/
    max-width: 322px;
    margin-bottom: 20px;
    padding: 3px 0;
}

.callback-text {
    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    max-width: 327px;
}

.callback-recall {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #141414;
    border: none;
}

.callback-form {
    width: 100%;
    position: relative;
}

.callback-input {
    border-radius: 100px;
   /* border: 1px solid #141414;*/
    opacity: 0.30000001192092896;
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    padding-left: 24px;
    position: relative;
    /*background-color: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}



.callback-btn {
    margin-left: -20px;
    white-space: nowrap;
    border-radius: 100px;
    border: 0;
    background: #FC8A11;
    color: var(--alt-text-color);
    position: absolute;
    width: 105px;
    height: 48px;
    right: 0;
    top: 0;
    bottom: 0;
}

.callback-img {
    /*call*/
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .callback-img {
         }
}


@media  and (min-width: 375px) {
    .callback-container {
        max-width: 335px;
        padding-left: 0;
        padding-right: 0;
    }
}