/*--Modal-Eduard--*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 891px;
  width: calc((100% - 36px) / 1);
  height: 911px;
  padding: 0;
  background-color: #fff;
  border-radius: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: absolute;
  top: 20px;
  right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 50%;
  stroke: #141414;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #a1c487;
  border: none;
}

.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-modalname {
  color: #141414;
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 40px 40px;
}
.modal-order-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.modal-plant-container {
  max-width: 257px;
  max-height: 308px;
  background-color: #faf3e7;
  border-radius: 20px;
}

.modal-title-plant {
  padding-left: 20px;
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #141414;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.96px;
}

.modal-p-title {
  margin: 0;
  padding-left: 20px;
}

.modal-img-container {
  width: 243px;
  height: 200px;
  flex-shrink: 0;
  padding: 0 7px 14px 7px;
}

.modal-contact-form {
  display: flex;
  max-width: 420px;
  margin-bottom: 0;
}
.contact-form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 40px;
}

.contact-form-input {
  width: 360px;
  height: 48px;
  margin-bottom: 14px;
  color: rgba(20, 20, 20, 0.5);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  padding-left: 24px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(20, 20, 20, 0.2);
}

.contact-form-message {
  width: 360px;
  height: 145px;
  margin-bottom: 20px;
  color: rgba(20, 20, 20, 0.5);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  padding-left: 24px;
  padding-top: 15px;
  border-radius: 20px;
  border: 1px solid rgba(20, 20, 20, 0.2);
  resize: none;
}

.submit-btn {
  display: flex;
  flex-wrap: wrap;
  min-width: 114px;
  height: 48px;
  padding: 15px 35px;
  align-items: center;
  background-color: #fc8a11;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  cursor: pointer;
}

.img-girl-in-orange {
  margin-left: 40px;
  margin-top: 69px;
}
